@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900italic);
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');
@import url(https://fonts.googleapis.com/css?family=Abel);

html{
	overflow-y: scroll;
}

body {
	margin: 0;
	padding: 0;
	background-color: #fff4d1;
	font-family: "Nanum Gothic", "Malgun Gothic", sans-serif;
}

a:hover {
	text-decoration: none;
}

a {
	color: black;
	text-decoration: none;
}

h1 {
	font-size: 60px;
	color: #ff6860;
	margin: 15px 0;
}

h2 {
	color: rgb(156, 156, 156);
	margin: 10px 0;
	font-weight: bold;
	font-size: 30px;
}


.container {
	font-size: 22px;
	padding: 0;
}

.main-container {
	width: 100%;
	margin-top: 120px;
	margin-bottom: 30px;
	display: inline-block;
}

.contents {
	font-size: 15px;
	width: 65%;
	margin: 0 auto;
	/* margin-bottom: 40px; */
}

header {
	position: fixed;
	width: 100%;
	top :0;
	z-index: 9;
}

nav {
	height: 52px;
	width: 100%;
	/*min-width: 1280px;  width(.container) */
	background-color: white;
	line-height: 52px;
	padding-top: 5px;
	padding-bottom: 5px;
	/* overflow: hidden; */
}

#menu {
	height: 52px;
	width: 100%;
	background-color: rgb(232, 232, 232);
	background-color: rgba(232, 232, 232, .9);
	line-height: 52px;
	padding-top: 5px;
	padding-bottom: 5px;
	overflow: hidden;
}

nav img{
	vertical-align: text-bottom;
}

#logo {
	color: #fe4a49;
	/* border-radius: 10px; */
	margin: 2.5px 5px;
	float: left;
}

header[role="banner"] #menu li a, header[role="banner"] div[role="login"] a, nav a{
	padding: 0 15px;
	font-size: 18px;
	font-weight: bold;
	color: #fe4a49;
	display: block;
	margin: 0 5px;
}

header[role="banner"] div[role="login"] a:hover, header[role="banner"] #menu li a:hover, header[role="banner"] #menu li a.selected, #contact:hover, #setting:hover, .selected, div[role="login"] a:hover{
  background-color: #fe4a49;
	color: white;
}

footer[role="contentinfo"] {
	height: 30px;
	width: 1145px;
	margin: 0 auto;
	line-height: 30px;
}

footer[role="contentinfo"] .container {
	position: fixed;
	bottom: 0px;
	width: 1145px;
	height: 30px;
	z-index: 1;
	border-radius: 3px 3px 0px 0px;
	background-color: rgb(214, 214, 214);
}

footer[role="contentinfo"] p {
	font-size: 9pt;
	text-align: center;
	font-weight: 100;
	color:rgb(139, 139, 139);
}

.pull-right{
	float: right;
}


.inline-list > li {
	display: inline-block;
}

.scrollable {
	overflow-x: hidden;
	overflow-y: scroll;
}

/* for the disabled */
.assistive-text {
	text-indent: -9999px;
	font-size: 0;
}

#logo a img{
	width: 60px;
	vertical-align: middle;
}

#settingtab {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.8);
  overflow-x: hidden;
	color: white;
  transition: 0.5s;
	line-height: 40px;
}

#settingtab .closebtn {
	width: 5%;
	float: right;
  font-size: 60px;
	color: white;
}

#settingtab p {
	font-weight: bold;
	margin-bottom: 2px;
}

#sample, #option {
	width : 45%;
	float: left;
	margin: 0;
	padding: 0;
	padding-top: 80px;
	min-width: 400px;
}

#samplePage {
	width : 380px;
	height : 250px;
	background-color: #fff4d1;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
}

#SampleH {
	color:#fe4a49;
	width: 100%;
	height: 50px;
	font-size: 10pt;
	line-height: 25px;
}

#SampleH1 {
	background-color: white;
	width: 100%;
	height: 25px;
}

#SampleH2 {
	background-color: rgb(232, 232, 232);
	background-color: rgba(232, 232, 232, .9);
	width: 100%;
	height: 25px;
}

#sampleC {
	margin: 0 auto;
	width: 250px;
	font-size: 20px;
}

#sampleC h1{
	margin: 0px;
	color: #fe4a49;
	font-size: 20px;
	float: none;
}

#sampleC p {
	background-color: white;
	color: black;
	/*height: 80px;*/
	padding: 10px;
	line-height: normal;
	font-weight: normal;
}

#font, #background{
  margin: 0 auto;
	width: 350px;
	margin-bottom: 10px;
}

#font select, #background select{
  width: 80%;
  height: 30px;
  border: 6px solid transparent;
  border-radius: 5px;
  font-weight: bold;
}

#font select option, #background select option{
  padding: 5px;
  font-size: 15px;
}

select #backselect option[value="1"]{
	background: url("../images/thm1.png") 0 0 no-repeat;
}

#sideNav {
	height: 100%;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	position: fixed;
	list-style-type: none;
	/* font-size: 20px; */
	line-height: 52px;
	overflow: hidden;
	display: none;
	z-index: 50;
}

#sideNav div.nav-list-right a {
	padding: 0 15px;
	font-weight: bold;
	color: #fe4a49;
	display: block;
}

#sideLogo {
	text-align: center;
	float: none;
}

#sideLogo img {
	width: 40px;
}

#sideNav .nav-list-right {
	float: left;
	background-color: rgb(232, 232, 232);
	height: 100%;
	padding-top: 52px;
}

#sideNav .nav-list-left {
	line-height: 52px;
	padding-left: 5px;
	float: left;
	background-color: white;
	height: 100%;
}

#sideNav .nav-list-left a {
	padding: 0 15px;
	font-size: 18px;
	font-weight: bold;
	color: #fe4a49;
	display: block;
	float: left;
}

#sideNav .nav-list-left #sideSetting:hover, #sideNav .nav-list-left #sideContact:hover, #sideNav .nav-list-right a.selected, #sideNav .nav-list-right a:hover{
  background-color: #fe4a49;
	color: white;
}

#submit {
    border: 1.2px solid rgb(70, 118, 166);
    border-radius: 2px;
    background-color: rgb(70, 118, 166);
    color: #fff;
    transition: all 0.25s ease-in-out;
    width: 60px;
    height: 25px;
    font-size: 15px;
    display: block;
	margin-top: 10px;
	float: right;
}

#submit:hover {
    color: rgb(70, 118, 166);
    background-color: #fff;;
}
