.menu a {
  background-color: #524464;
}

#not,#gal {
	background-color: #A07FF1;
}

header[role="banner"] #menu li a, #sideNav div.nav-list-right a{
    color: #A07FF1;
}

header[role="banner"] div[role="login"] a:hover, header[role="banner"] #menu li a:hover, header[role="banner"] #menu li a.selected, #contact:hover, #setting:hover, .selected, div[role="login"] a:hover, #sideNav .nav-list-left #sideSetting:hover, #sideNav .nav-list-left #sideContact:hover, #sideNav .nav-list-right a.selected, #sideNav .nav-list-right a:hover, .submit_button, .joinButton, .side, #choose button, .sign .submit_button {
	background-color: #A07FF1;
}

h1{
	color: #A07FF1;
}


#cou {
	background-color: #FFCE49;
}

#pub, #mem {
	background-color: #94D4D6;
}

#SampleH {
	color:#A07FF1;
}

#sampleC h1{
	color:#A07FF1;
}

.active a, #main a{
	color:#A07FF1;
}

#sortable a{
	color: white;
}
