.menu a {
  background-color: #9C714C;
}

#not,#gal {
	background-color: #EEB76E;
}

header[role="banner"] #menu li a, #sideNav div.nav-list-right a{
    color: #EEB76E;
}

header[role="banner"] div[role="login"] a:hover, header[role="banner"] #menu li a:hover, header[role="banner"] #menu li a.selected, #contact:hover, #setting:hover, .selected, div[role="login"] a:hover, #sideNav .nav-list-left #sideSetting:hover, #sideNav .nav-list-left #sideContact:hover, #sideNav .nav-list-right a.selected, #sideNav .nav-list-right a:hover, .submit_button, .joinButton, .side, #choose button, .sign .submit_button {
	background-color: #EEB76E;
}

h1{
	color: #EEB76E;
}

#cou {
	background-color: #ECE6BC;
}

#pub, #mem {
	background-color: #83C9DD;
}

#SampleH {
	color:#EEB76E;
}

#sampleC h1{
	color:#EEB76E;
}

.active a, #main a{
	color:#EEB76E;
}
#sortable a{
	color: white;
}
