#slides, #problems {
	margin: 0 auto;
}

#main{
	font-size: 15px;
}

#slides a:hover, #problems a:hover {
	color: rgb(255, 103, 103);
}


h1 {
	font-size: 60px;
	margin: 20px 0 5px 0;
}

#lecture, #lab {
	width: 50%;
	display: inline-block;
	vertical-align: top;
	float: left;
}

#slides th, #problems th {
	background-color: #C4C4C4;
	height: 52px;
	font-size: 20px;
	color: white;
	border-bottom: 3px solid #dfdfdf;
	vertical-align: middle;
	font-weight: normal;
	text-align: center;
}

/*
#slides th.number, #slides td.number, #problems th.number, #problems td.number {
	width: 85px;
	border-right: 1px solid #dfdfdf;
}
*/

tr>th:first-child, tr>td:first-child {
	border-right: 1px solid #dfdfdf;
}

#slides table {
	width: 100%;
}

#slides th.title, #slides td.title {
	height: 48px;
}

#problems th.title, #problems td.title {
	height: 48px;
}

#slides tr td, #problems tr td {
	background-color: white;
	height: 30px;
	vertical-align: middle;
	cursor: pointer;
}

#slides tr:nth-child(odd) td, #problems tr:nth-child(odd) td {
	background-color: #f5f5f5;
}

/*
#slides td.number, #problems td.number {
	text-align: center;
	font-size: 15px;
	color: rgb(105, 105, 105);
	font-weight: 300;
}
*/

tr>th:first-child, tr>td:first-child {
	text-align: center;
	font-size: 15px;
	color: rgb(105, 105, 105);
	font-weight: 300;
}

#slides td.title, #problems td.title {
	padding-left: 10px;
}

#problems table {
	width: 100%;
}
