#register{
	position: absolute;
	top: 150px;
	left: 50%;
	width: 490px;
	height: 280px;
	margin-left:-245px;

	color:#4796bd;
	border-radius: 5px;
	border: 2px solid #4796bd;
	font-size: 15px;
	font-weight: normal;
	background-color: #f4f4f4;
	box-shadow: 0 3px 10px black;
	z-index: 1;
}

.subwrap{
	height: 40px;
	width: 460px;
	margin: 10px;
	overflow: hidden;
}

.subwrap p{
	margin: 0;
	padding: 0;
}

input[type="text"]{
	padding: 0;
	margin: 0;
	border: none;
	height: 100%;
	font-size: 15px;
	font-weight: 100;
	padding-left: 10px;
}

select {
	margin-top: 10px;
}

.subname{
	margin: 0;
	padding: 0;
	display: inline;
	float: left;
	padding-top: 11px;
	margin-right: 10px;
}

#title-name{
	font-size: 30px;
	padding-top: 3px;
}
.short{
	width: 400px;
}
#file{
	padding-top: 10px;
}

#buttons button{
	/*float: right;*/
	outline: none;
	border: none;
	border-radius: 3px;
	background-color: #4796bd;
	width: 110px;
	color: white;
	font-size: 15px;
	height: 100%;
	margin-left:10px;
}

#buttons button:hover{
	background-color: rgb(41, 112, 148);
}

#main{
	font-size: 15px;
}
.tile {
	width: 20%;
	height: 140px;
	margin : 1.5%;
	margin-bottom: 15px;
	background-color: white;
	color: gray;
	cursor: pointer;
	padding: 1%;
}

.tile:hover{
	-ms-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}

.tile img{
	width: 100%;
	height: 80%;
	padding-bottom: 5px;
}

.delete:hover{
	color: #333333;
}

.add_btn{
	width: 99%;
	height: 20px;
	text-align: right;
	margin-right: 10px;
	margin-bottom: 5px;
	font-size: 25px;
	color :gray;
}

#add{
	cursor: pointer;
}

#page-bar {
	width: 100%;
	line-height: 20px;
	overflow: hidden;
	text-align: center;
	font-size: 12px;
	padding-right: 5px;
}
.page{
	color : gray;
	margin-right: 5px;
}
.selected-page{
	color: black;
	text-decoration: underline;
}
#hl{
	height: 5px;
	padding: 0px;
	background-color: #C4C4C4;
	clear: both;
}

#tab{
	overflow: hidden;
	font-size: 20px;
}
#tab div {
	height: 48px;
	line-height: 48px; /* height(#class a) */ /* for vertical align */
	text-align: center;
	background-color: #C4C4C4;
	font-weight: 300;
	color: white;
	display: inline-block;
	padding: 0px 10px;
	margin: 0px 2px;
	float: left;
	cursor: pointer;
	border-radius: 3px 3px 0px 0px;
}
.back{
	/* padding: 10px; */
	/* background-color: #f5f5f5; */
	margin-bottom: 10px;
}
.first-tab{
	margin-left: 0px !important;
}

.last-tab{
	margin-right: 0px !important;
}

#tab div.deactive {
	height: 41px;
	margin-top: 7px;
	background-color: #afafaf;
	color: #d6d6d6;
}

.column {
	display: none;
}

.show {
	display: block;
}

#imgM{
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
}

#modal a img{
	position: relative;
	top: 15px;
	width: 40px;
	height: 40px;
	margin-left: 5px;
	float: left;
}

#modal a img:hover{
	transform: scale(1.1) perspective(1.5px);
}

/*https://www.w3schools.com/*/
.modal {
	display: none;
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.8);
	object-fit: contain;
}

.modal-content {
	margin: auto;
	display: block;
	max-width: 700px;
	object-fit: contain;
	height: 85%;
	width: 90%;
}

.modal-content, #caption {
	animation-name: zoom;
	animation-duration: 0.6s;
}

@keyframes zoom {
	from {transform:scale(0)}
	to {transform:scale(1)}
}

.close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
	float: right;
}

.close:hover,.close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
	.modal-content {
		width: 100%;
	}
}

/*https://www.w3schools.com/*/
.dropdown {
	position: relative;
	display: inline-block;
	margin-left: 15px;
}

/*#sharebtn{
	color: black;
	padding: 16px;
	font-size: 16px;
	border: none;
	border-radius: 2px;
	margin-top: 15px;
}*/
/*
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
*/
/*.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
*/

/*.dropdown-content a:hover {background-color: #ddd;}*/

/*.dropdown:hover .dropdown-content {
	display: block;
}
*/
.prev, .next{
	color: white;
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	display: block;
}

.prev{
	left:100px;
}

.next {
	right: 100px;
	border-radius: 3px 0 0 3px;
}
